<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container mt-5 border rounded bg-light shadow p-5">
    <form th:action="@{/}" method="post" class="row g-3">
        <div class="col-md-4">
            <label for="nameinput" class="form-label">ФИО</label>
            <input type="text" placeholder="Фамилия Имя Отчество" name="name" id="nameinput"  class="form-control" required>
        </div>
        <div class="col-md-4">
            <label for="phoneinput" class="form-label">Номер телефона</label>
            <input type="tel" id="phoneinput" placeholder="+7(___) ___ __ __" name="phone" class="form-control" maxlength="11" required>
        </div>
        <div class="col-md-4">
            <label for="emailinput" class="form-label">Электронная почта</label>
            <input type="email" id="emailinput" placeholder="example@example.ru" class="form-control" name="email" required>
        </div>
        <div class="col-md-3">
            <label for="passportinput" class="form-label">Номер паспорта</label>
            <input type="number" id="passportinput" placeholder="__ __ ______" class="form-control" name="passport" required>
        </div>
        <div class="col-md-3">
            <label for="monthinput" class="form-label">Количество месяцев</label>
            <input type="number" placeholder="12" id="monthinput" class="form-control" name="month" required>
        </div>
        <div class="col-md-3">
            <label for="limitsinput" class="form-label">Сумма,₽</label>
            <div class="input-group">
                <input type="number" placeholder="100000,₽" id="limitsinput" class="form-control" name="limits" aria-describedby="inputGroupPrepend" step="0.01" required>
                <span class="input-group-text" id="inputGroupPrepend">₽</span>
            </div>
        </div>
        <div class="col-md-3">
            <label for="percentinput" class="form-label">Процентов годовых</label>
            <div class="input-group">
                <input type="number" id="percentinput" class="form-control" placeholder="9.3" name="percent" aria-describedby="inputGroupPrepend1" step="0.01" required>
                <span class="input-group-text" id="inputGroupPrepend1">%</span>
            </div>
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>
</div>


<!---->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
<!---->
</body>
</html>