<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Добавить клиента</a></li>
                <li class="nav-item"><a href="/clients" class="nav-link">Клиенты</a></li>
                <li class="nav-item"><a href="/bank" class="nav-link">Банк</a></li>
                <li class="nav-item"><a href="/credits" class="nav-link">Кредит</a></li>
                <li class="nav-item"><a href="/creditoffer" class="nav-link">Кредитное предложение</a></li>
            </ul>
        </header>
    </div>
</div>